.student-table input[type=text],
.student-table input[type=number],
.student-table select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.student-table button:hover {
    background-color: #719973;
}

.student-table .form {
    border-radius: 5px;
    background-color: #b5e9d0;
    padding: 20px;
}